<%= form_with url: root_path, method: :get do |f| %>
    <%= f.collection_select :from_airport, @airports, :id, :name, prompt: 'From' %>
    <%= f.collection_select :to_airport, @airports, :id, :name, prompt: 'To' %>
    <%= f.select :start_date, @dates.collect{ |date| [date.strftime('%a, %b %d'), date] }, prompt: 'Start date' %> 
    <%= f.select :passenger_count, 1..4, prompt: 'Passengers'  %>
    <%= f.submit 'Search' %>
<% end %>

<% if @flights.present? %> 
    <% @flights.each do |flight|%>  

        <%= form_with url: new_flight_booking_path(flight), method: :get do |f| %> 
            <%= f.hidden_field :passenger_count, value: @passenger_count %>

            <h2> 
                <%= flight.from_airport.airport_code %> - <%= flight.to_airport.airport_code %> 
            </h2>
            
            <h2><%= flight.start_date.strftime('%a, %b %d')%></h2>

            <%= f.submit 'Select' %>
        <% end %>

        
    <% end %>
<% else %>
    <h2>no flights found. Search for a flight!</h2>
        

<% end %>
