<!DOCTYPE html>
<html>
  <head>
    <title>Runaway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="columns is-mobile is-justify-content-center mb-0 has-border-bottom">
      <div class="column is-8">

        <nav class="navbar is-white ">
          <div class="navbar-brand">
            <%= link_to root_path, class: "navbar-item" do %>
              <span class="icon-text">
                <span class="icon">
                  <i class="las la-plane la-2x mr-1"></i>
                </span>
                <span class="title is-size-3"> Runaway </span>
              </span>
            <% end %>
          </div>
        </nav>

      </div>
    </div>
    <%= yield %>
  </body>
</html>
